@import "./../../shared/shared-mixins.scss";
.text-input-wrapper {
    width: 100%;
    padding-right: 20px;
    padding-top: 10px;
  .field {
    font-size: 18px;
    padding-top: 10px;
    .title {
      font-size: 20px;
      text-decoration: underline;
    }
    .field-item {
      @include flex(center, flex-start);
      padding-top: 10px;
      input {
          @include dimention(294px, 24px);
          padding-right: 10px;
      }
    }
  }
}
