@import "./../../shared/shared-mixins.scss";

.wrapper {
  width: 100%;
  @include flex(flex-start, center);
  background-color: #f7f7f7;
  .container {
    width: 70%;
    height: 100%;
    display: inline-block;
    .title {
      font-family: Arial, Helvetica, sans-serif;
    }
    .main-content {
    }
  }
  .sidebar {
    @include dimention(30%, 450px);
    display: inline-block;
  }
}
